<h1>EAT THE BURGER</h1>
<!-- this is index.handlebars -->
<ul>
  {{#each burgers}}
  	<li>
  		<p>{{this.id}}. {{this.burger_name}}</p>
      <button type="submit">Devour It!</button>
  	</li>
  {{/each}}
</ul>
{{!-- Form should send a post command to the server --}}
<form class="create-form" action="/create" method="POST">

  <div class="form-group">
    <textarea id="quo" name="burger_name" rows="8" cols="40"></textarea>
  </div>

  <button type="submit">Submit</button>
</form>

<h5>Enter a burger you want to eat and "Submit"</h5>